/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
background-image: url("./bilder/kontakta.jpg");
}

.kontainer {
    background: rgba(241, 230, 230, 0.473);
    width: 700px;
    margin: 50px auto;
    padding: 50px;
    font-family: 'Courier Prime', monospace;
}

.kontainer h1 {
    font-size: 30px;
}

.kontainer p {
   font-size: 15px;
   padding-bottom: 40px;
}

.kontainer form {
   display: grid;
   grid-template-columns: 150px auto;
   gap: 15px;
   
}

.kontainer form label {

}

.kontainer form input {

}

.kontainer button {
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: rgb(255, 0, 0);
    font-weight: bold;
}

