/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./bilder/Halloween-bg.jpg);
}

.meny {
    background-image: linear-gradient(to right bottom, #000000, #462324, #86442f, #bb732a, #dab016);
    border: 10px solid rgb(187, 78, 27);
    border-radius: 30px;
    margin-top: 10px;
    padding: 16px 20px 47px 0px;
    width: 80%;
    margin: 10px 0px 0px auto;
}

.firstimg {
    width: 200px;
    float: left;
    margin-left: 20px;
}

.meny h2 {
    text-align: center;
    float: right;
    margin-right: 15px;
    font-size: 30px;
    font-family: 'Nosifer', cursive;
}

.meny ul {
    text-align: center;
    float: right;
}

.meny ul li {
    display: inline;
    font-size: 20px;
    padding: 0px 40px 0 40px;
}

.meny ul a {
    border: 10px solid rgb(148, 25, 142);
    background: rgb(148, 25, 142);
    color: black;
    border-radius: 7px;
    display: inline-block;
    text-decoration: none;
    width: 140px;
    color: orangered;
    font-family: 'Creepster', cursive;
    font-size: 23px;
    letter-spacing: 4px;
}

.meny ul a:hover {
    background: rgba(19, 167, 98, 0.993);
    box-shadow: none;
}

.meny ul a.aktiv {
    background: rgba(8, 44, 163, 0.829);
}

/* Tre boxar med information om Halloween */

.infobox {
 width: 300px;
 padding: 0 200px 200px 0;
 border: 8px solid darkorange;
 background-image: linear-gradient(to right bottom, #050508, #211e21, #3b3235, #564947, #6e6259);
 margin: 80px 0 0 15px;
 display: inline-block;
 
}

.infobox h2 {
    display: inline-block;
    
}